* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

// Add specific override for the add page route
.layout .content {
  overflow: auto;
}

// Override specifically for the new post page
.layout .content .newPostPage {
  height: 100%;
}
