@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .footer {
    width: 100%;
  }

  @include lg {
    width: 100%;
    max-width: 100%;
  }

  @include md {
    width: 100%;
    max-width: 100%;
  }

  @include sm {
    width: 100%;
    max-width: 100%;
  }
}
